/*------------Imported Fonts-----*/
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Mulish:wght@222&family=Roboto+Condensed&family=Roboto+Mono:wght@307;314&family=Roboto:wght@400;500;700&display=swap');

header {
    background-color: rgba(155, 157, 168, 0.82);
    height: 90px;
}

.logo {
    float: left;

    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 48px;
    line-height: 45px;
    margin-top: 25px;

    color: rgba(10, 8, 8, 0.63);
}

.menu {
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 4px;
    width: auto;
    position: relative;
}

.logo .menu {
    line-height: 50px;
}

.menu li {
    float: right;
    margin-right: 30px;
    margin-top: 35px;
}

.menu a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: rgba(10, 8, 8, 0.63);
}



.menu a:hover {
    border-bottom: 1px solid #131010;
  }

.hero-pic {
    height: 1000px;
    width: 100%;
    background-image: url(/assets/images/amaliasofa.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-size: 1500%;
    text-transform: uppercase;
    position: absolute;
    left: 160px;
    top: 360px;

    color: rgba(255, 255, 255, 0.73);
}

.hero-text h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-size: 600%;
    text-transform: capitalize;
    position: absolute;
    left: 370px;
    top: 600px;

    color: rgba(255, 255, 255, 0.73);
}

.intro-section {
    height: 450px;
}

#intro {
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 250%;
    margin-top: 20px;

    color: rgba(0, 0, 0, 0.70);
}

.intro-all {
    width: 90%;
}

.intro-all h3 {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.intro-left {
    float: left;
    text-align: center;
    margin-top: 35px;
    margin-left: 15px;
    width: 33%;
}

.intro-middle {
    position: absolute;
    left: 450px;
    top: 1180px;
    margin-top: 65px;
    margin-left: 20px;
    text-align: center;
    width: 33%;
}

.intro-right {
    position: absolute;
    text-align: center;
    left: 925px;
    top: 1180px;
    margin-top: 65px;
    margin-left: 33px;
    width: 33%;
}

#underline-intro-title {
    width: 60%;
    border-top: 4px solid #b15151;
}

#underline-intro-text {
    width: 20%;
    border-top: 1px solid #b15151;
}

.upcoming-events-section {
    height: 500px;
    z-index: 1;
    position: relative;
}

.events-background {
    background-image: url(/assets/images/amalia-laying.png);
    position: absolute;
    z-index: -1;
    opacity: .6;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.upcoming-events-section h2 {
    color: rgba(0, 0, 0, 0.70);
    font-family: "Roboto", sans-serif;
    font-size: 250%;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
}

#underline-events-title {
    width: 15%;
    border-top: 4px solid #b15151;
}

.time-table {
    color: rgba(0, 0, 0, 0.70);
    float: left;
    width: 20%;
    text-align: center;
    padding-top: 35px;
    font-weight: 100;
}

.time-table h4 {
    color: rgba(0, 0, 0, 0.70);
    font-size: x-large;
    font-weight: 300;
}

.ticket-button-pos {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 120px;
}

#ticket-button {
    color: #b15151;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    background-color: rgba(216, 216, 216, 0.77);
    border: rgba(216, 216, 216, 0.77);
}

footer {
    height: 90px;
    background-color: rgba(155, 157, 168, 0.82);
}

.social-media-links {
    text-align: center;
}

.social-media-links li {
    display: inline;
}

.social-media-links i {
    font-size: 150%;
    margin-top: 30px;
    color: rgba(13, 12, 12, 0.63);
    letter-spacing: 25px;
}


/**************** ABOUT.HTML**************/

.about-section {
    height: 500px;
    z-index: 1;
    position: relative;
}

.about-background {
    background-image: url(/assets/images/back-pic.png);
    position: absolute;
    z-index: -1;
    opacity: .6;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-styling {
    text-align: center;
}

.about-section h2 {
    color: rgba(13, 12, 12, 0.63);
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 10px;
}

#underline-about-title {
    width: 10%;
    border-top: 4px solid #b15151;
}

.about-section p {
    font-family: "Roboto Mono", sans-serif;
    padding-top: 25px;
    font-size: 22px;
}






